/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  margin: auto;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  color: var(--main-color);
  background: var(--background-page-color);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: auto;
  font-family: var(--main-font);
  font-variation-settings: "wght" var(--themes-font-weight-content);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-block-start: 100px;
  background: var(--background-alternative-color);
  border: 2px solid var(--main-color);
}

.logo-group {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-block-start: 120px;
}

.header-title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
}

.header-subtitle {
  text-transform: uppercase;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.header__theme-menu {
  margin-inline-start: 16px;
  margin-block-start: 25px;
  margin-block-end: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.theme-menu__button {
  position: relative;
  background: transparent;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.theme-menu__button:hover {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  cursor: default;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  inset-inline-start: -20px;
  animation: slide 0.5s infinite ease-in-out alternate;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  inset-block-end: -3px;
  inset-inline-start: 0;
  display: block;
  inline-size: 100%;
  height: 2px;
  background-color: var(--main-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.main {
  display: grid;
  margin-block-start: 100px;
  gap: 50px;
}
.main:last-child {
  gap: 0px;
}

.post {
  background: var(--background-alternative-color);
  border: 2px solid var(--main-color);
}

.post-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-block-end: 25px;
}

.post-title {
  padding: 5px 10px;
  font-family: var(--alternative-font);
  font-size: 18px;
  font-variation-settings: "wght" var(--themes-font-weight-title);
}

.post-image-cover {
  position: relative;
  border-top: 2px solid var(--main-color);
  border-bottom: 2px solid var(--main-color);
  z-index: 0;
}

.post-watermark {
  position: absolute;
  opacity: 0.5;
  text-shadow: 1px 1px var(--background-alternative-color);
  mix-blend-mode: hard-light;
  font-family: var(--main-font);
  font-size: 14px;
  inset-block-start: 20px;
  inset-inline-end: 12px;
  z-index: 1;
}

@supports (
  (text-stroke: 1px var(--background-alternative-color)) or
    (-webkit-text-stroke: 1px var(--background-alternative-color))
) {
  .post-watermark {
    -webkit-text-stroke: 1px var(--background-alternative-color);
    text-stroke: 1px var(--background-alternative-color);
    text-shadow: none;
  }
}

.post-watermark-decoration {
  text-transform: uppercase;
}

.post-image {
  inline-size: 100%;
  block-size: 1000%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1/1;
}

.post-article {
  padding: 0 25px;
  font-size: 18px;
  line-height: 117%;
  font-family: var(--alternative-font);
  font-variation-settings: "wght" var(--themes-font-weight-content);
}

.post-buttons {
  display: flex;
  justify-content: flex-end;
  margin: 0 25px 0;
  gap: 7px;
}

.like-icon {
  z-index: 0;
  cursor: pointer;
}

.button {
  position: relative;
  background: var(--background-alternative-color);
  border: 2px solid var(--main-color);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.button:focus-visible {
  box-shadow: 2px 2px var(--main-color);
  outline: none;
}

.button::before {
  content: "";
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 0%;
  block-size: 100%;
  background-color: var(--main-color);
  transition: 0.5s ease-in-out;
}

.button:hover::before {
  inline-size: 100%;
}

.button__text {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 90%;
  color: var(--button-text-color);
}

.dialog__accept-button {
  text-transform: uppercase;
}

@supports (mix-blend-mode: difference) {
  .button__text {
    mix-blend-mode: difference;
  }

  .footer-save-button svg {
    mix-blend-mode: difference;
  }

  .dialog-message-container svg {
    mix-blend-mode: difference;
  }
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  background: transparent;
  padding: 0;
  transition: border-color 0.3s ease;
  z-index: 1;
}


.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--main-color);
}

.card__like-button {
  padding: 9px 17px;
  min-inline-size: 130px;
  min-block-size: 38px;
}

.footer-save-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  background: var(--background-alternative-color);
  margin: 0 auto 100px;
  padding: 15px 20px;
  cursor: pointer;
  border: 2px solid var(--main-color);
}

.footer-save-button svg {
  inline-size: 28px;
  block-size: 28px;
}

.dialog::backdrop {
  opacity: 0.75;
  background: var(--background-backdrop-color);
}

.dialog {
  border: 2px solid var(--main-color);
  background: var(--background-alternative-color);
  color: var(--main-color);
  padding: 30px 40px;
}

.dialog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.dialog-message-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog-message {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog-button {
  padding: 9px 17px;
  min-block-size: 38px;
  inline-size: 100%;
}

.dialog-message-container svg {
  inline-size: 100px;
  block-size: 39px;
}

.image-sepia {
  filter: sepia(50%);
}
.image-grayscale {
  filter: grayscale(50%);
}
.image-blur {
  filter: blur(2px);
}
.image-contrast {
  filter: contrast(120%);
}
.image-brightness {
  filter: brightness(110%);
}
.image-opacity {
  filter: opacity(0.8);
}

.image-saturate {
  filter: saturate(200%);
}
.image-shadow {
  filter: drop-shadow(10px 10px 5px black);
}

@media (min-width: 376px) {
  .post-watermark {
    inset-block-start: 25px;
    inset-inline-end: 25px;
  }

  .logo-group {
    margin-block-start: 135px;
  }

  .footer-save-button {
    flex-direction: row;
  }

  .footer-save-button svg {
    inline-size: 21px;
    block-size: 21px;
  }

  .dialog {
    padding: 30px;
    inline-size: 353px;
  }
}
